
<div class="partial">
	<div class="content">
		<p>Hi, I'm Kai.</p>
		<p>I am a Senior in the Informatics department at the University of Washington. I started coding when I came to the UW and have been in love with it ever since. I particularly enjoy java development and web development. Music is also a huge part of my life. I have been performing music for almost a decade and have spent lots of my life listening and learning about it. Other hobbies of mine include photography, hiking and biking.</p>

		<p>If you are looking for a passionate, hardworking and capable programmer, feel free to <a ui-sref="connect">get in touch</a>.</p> 
	</div>
</div>
<div class="container-nav">
	<a class="navigation" ui-sref="about">About</a>
	<a class="navigation" ui-sref="projects">Projects</a>
	<a class="navigation">Resume</a>
	<a class="navigation" ui-sref="connect">Connect</a>
	<br>
	<a ui-sref="landing"><img class="navigation" id="landingbutton" src="img/KY.png"></img></a>
</div>

