<div class="container-large partial">
	<div class="container content">
		<p>Hi, I'm Kai.</p>
		<p>I am a Senior in the Informatics department at the University of Washington. I started coding when I came to the UW and have been in love with it ever since. I particularly enjoy web development and java development. Music is also a huge part of my life. I have been performing music for almost a decade and have spent lots of my life listening and learning about it. Other hobbies of mine include photography, hiking and biking.</p>

		<p>If you are looking for a passionate, hardworking and capable programmer, I would love to hear from you.</p> 
	</div>
</div>
