<div class="partial">
	<div class="content">
		<p>Connect with me at</p>
		<p>kaiyosh@gmail.com</p>
		<p>Or find me below!</p>
	</div>
	<div class="connect-images">
		<a href="https://www.github.com/kaiyoshino"><img src="img/git.png" alt="GitHub"></img></a>
		<a href="https://www.linkedin.com/in/kaiyoshino"><img src="img/In.png" alt="LinkedIn"></img></a>
		<a href="https://www.facebook.com/kai.yoshino"><img src="img/F.png" alt="Facebook"></img></a>
	</div>
</div>

<div class="container-nav">
	<a class="navigation" ui-sref="about">About</a>
	<a class="navigation" ui-sref="projects">Projects</a>
	<a class="navigation" href="https://drive.google.com/open?id=0B90NDdh8-9b-cVk3Vl9KdXU3N3M">Resume</a>
	<a class="navigation" ui-sref="connect">Connect</a>
	<br>
	<a ui-sref="landing"><img class="navigation" id="landingbutton" src="img/KY.png"></img></a>
</div>