<div class="container-large partial">
		<!-- Wrapper for slides -->
		<div ng-controller="CarouselCtrl">
			<div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
			    <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
			    	<img class="carousel-img" ng-src="{{slide.image}}">
		        <div class="carousel-caption">
		          <a href={{slide.link}}><h3 id="slide-header">{{slide.name}}</h3></a>
		          <p>{{slide.text}}</p>
		          <a href={{slide.github}}>Github</a>
		        </div>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
</div>

<div class="container-nav">
	<a class="navigation" ui-sref="about">About</a>
	<a class="navigation" ui-sref="projects">Projects</a>
	<a class="navigation" href="https://drive.google.com/open?id=0B90NDdh8-9b-cVk3Vl9KdXU3N3M">Resume</a>
	<a class="navigation" ui-sref="connect">Connect</a>
	<br>
	<a ui-sref="landing"><img class="navigation" id="landingbutton" src="img/KY.png"></img></a>
</div>