a {
  color: #4169E1;
}

a:link {
  color: #4169E1;
  text-decoration: none;
}

a:visitied {
  color: #4169E1;
  text-decoration: none;
}

a:hover {
  color: #4169E1;
  text-decoration: underline;
}

a:active {
  color: #4169E1 !important;
  text-decoration: underline;
}

.partial {
  background: white;
  color: black;
  border-radius: 10px;
  margin-left: 20%;
  margin-right: 20%;
  min-height: 60vh;
  box-shadow: 8px 8px 8px black;
}

.container-nav {
  padding-top: 2%;
}



/* gradient fallbacks taken from csstricks.com */
body {
  background-color: #0b354c;
  /* SVG fallback for IE 9 (could be data URI, or could use filter) */
  background-image: url(img/dark_gradient.jpg);
  /* Safari 4, Chrome 1-9, iOS 3.2-4.3, Android 2.1-3.0 */
  background-image: -webkit-gradient(linear, left top, right top, from(#350032), to(#0b354c));
  /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
  background-image: -webkit-linear-gradient(left, #350032, #0b354c);
  /* Firefox 3.6 - 15 */
  background-image: -moz-linear-gradient(left, #350032, #0b354c);
  /* Opera 11.1 - 12 */
  background-image: -o-linear-gradient(left, #350032, #0b354c);
  /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
  background-image: linear-gradient(to right, #350032, #0b354c);
/*  overflow: hidden;*/
}

/*canvas { 
  width: 100%; 
  height: 100%; 
}*/

/****************************************************/
/* Landing Page */
/****************************************************/

.landing {
	position: absolute;
	top: 13%; 
  width: 100%;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	text-align:center;

}


#me {
  width: 20%;
  height: 20%;
  border-radius: 100%;
}

#name {
  font-size: 450%;
  margin: .25%;
}

.subtitle {
	font-size: 140%;
  margin: .25%;
}


.navigation {
  margin: 1%;
  font-style: italic;
  font-size: 150%;
  color: white;
}

.navbar {
  display: inline !important;
}

/*html, body {
  width: 100%;
  height: 100%;
}*/




/****************************************************/
/* About Page */
/****************************************************/


.content {
  padding: 5%;
  font-size: 165%;
}


/****************************************************/
/* Connect Page */
/****************************************************/

.connect-images img {
  width: 18%;
  height: 18%;
  margin-left: 3%;
  margin-right: 3%;
}

/****************************************************/
/* Projects Page */
/****************************************************/

#slides_control > div{
  height: 200px;
}

.carousel-img {
  margin: 4%;
  width: 90%;
}

#slides_control {
  position:absolute;
  width: 400px;
  left:50%;
  top:20px;
 margin-left:-200px;
}

.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
    font-size: 125%;
}

.carousel-caption  {
    font-size: 130%
}


.carousel-caption p {
    color: black;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

.glyphicon-chevron-right, .glyphicon-chevron-left {
  color: white;
  text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}




@media only screen and (max-device-width: 640px){
  .partial {
  margin-left: 8%;
  margin-right: 8%}
  .content {font-size: 30pt;}
  #me{width: 50%;
    height: 50%;}
  #name{font-size:90pt}
  .subtitle{font-size:30pt}
  .navigation{font-size:35pt;
    margin: 1.5%;}
  .connect-images img { width: 23%;
  height: 23%;}
  .carousel-caption  {font-size: 150%}
}

@media only screen and (max-device-width: 1080px) and (-webkit-device-pixel-ratio: 3){
  .partial {
  margin-left: 13%;
  margin-right: 13%}
  .content {font-size: 45pt;}
  #me{width: 40%;
    height: 40%;}
  #name{font-size:120pt}
  .subtitle{font-size:50pt}
  .navigation{font-size:58pt;
    margin: 1.5%}
  .connect-images img { width: 23%;
  height: 23%;}
  .carousel-caption  {font-size: 140%}
}